header {
    background-image: linear-gradient(to right, lightblue, darkblue);
    color: white;
}

h1 {
    padding-right: 2em;
}

#searchPrompt{
    font-size: 2em;
}

.panel {
    background-color: darkblue;
    color: white;
}
